/* Importa a fonte Poppins para todo o projeto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reseta básico e aplica padrões globais */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
  /* ### A NOVA PEGADA ###
    Aplica a fonte e a cor de fundo suaves em TODO o sistema.
  */
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7f6; /* O mesmo cinza suave do login */
  color: #333; /* Cor de texto padrão */
}

/* Garante que o Angular ocupe a tela toda */
app-root {
  display: block;
  height: 100%;
}

/* Força os inputs a herdarem a fonte */
input, button, textarea, select {
  font-family: 'Poppins', sans-serif;
}

/* Remove a borda azul feia (outline) ao focar */
input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
}