<div class="login-container">

 
  <div class="login-left-panel">
    <img src="assets/logo-vassouras.png" alt="Logótipo da Universidade de Vassouras">
    
    
    <div class="universidade-text"></div>
    <div class="vassouras-text"></div>
  </div>


  <div class="login-right-panel">

    <div class="login-box">
      
     
      <div class="login-header">
        <h2>SISTEMA DE SUPORTE TECNICO</h2>
        <p>Seja Bem-Vindo!</p>
      </div>
      
      <form (ngSubmit)="fazerLogin()">
        
 
        <div *ngIf="loginInvalido" class="error-message">
          Email ou senha incorretos.
        </div>

        <label for="email">Email</label>
     
    
        <div class="input-group">
          <i class="fa-solid fa-user"></i>
          <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="seu.email@vassouras.com" required>
        </div>

        <label for="senha">Senha</label>
        
        <div class="input-group">
          <i class="fa-solid fa-lock"></i>
          <input type="password" id="senha" [(ngModel)]="senha" name="senha" placeholder="••••••••" required>
        </div>

        <button type="submit" class="btn-entrar">Entrar</button>
        
        <a [routerLink]="['/recuperar-senha']" class="forgot-password">Esqueceu a senha?</a>
      </form>
    </div>

  </div>
</div>
